/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 18px;    
    font-weight: bold;
    color: rgb(255, 208, 122);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 10px;
    border: none;
    outline: none;
    color: antiquewhite;
    padding: 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: antiquewhite;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    text-align: left;
  }
  
  /* Add a background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:rgb(193, 154, 107);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
  }

  .dropbtn img{
    height: 70px;
    width: auto;
  }

  @media (max-width:800px){
    .dropbtn img{
      height: 50px
    }
  }

  

  